<%- include("./partials/head.ejs") %>

<%- include("./partials/summary.ejs") %>

<form action="/" method="post">
    <fieldset>
        <label for="smartzones">Select the smartzone</label>
        <select required id="smartzones" name="smartzoneId">
            <% smartzones.smartzones.forEach(smartzone => { %>
                <option value="<%= smartzone.id %>"><%= smartzone.name %></option>
            <% }) %>
        </select>

        <label for="author">Name</label>
        <input required id="author" name="author" >

        <label for="dateStart">Begin date</label>
        <input required id="dateStart" type="date" name="dateStart" min="">

        <label for="dateEnd">End date</label>
        <input id="dateEnd" type="date" name="dateEnd">

        <label for="timeStart">Begin time</label>
        <input required type="time" id="timeStart" name="timeStart">

        <label for="timeEnd">End time</label>
        <input required type="time" id="timeEnd" name="timeEnd">

        <input type="submit" value="submit" />
        
        
    
    </fieldset>
</form>

<%- include("./partials/nav.ejs") %>

<%- include("./partials/foot.ejs") %>

