<%- include('./partials/head.ejs') %>
<nav>
    <% smartzones.forEach(smartzone => { %>
        <article class="sz-card">
            <div class="card-left-side">
                <img src="<%- smartzone.image[0].url %>" alt="Foto van smartzone <%= smartzone.name %>">
            </div>

            <div class="card-right-side">
                <% if (smartzone.reservation === null) { %>
                    <% } else { %>
                <p>Occupied</p> <!-- Icon toevoegen -->
                <% } %>
                <!-- Icon hartje toevoegen -->
                <h2>SZ <%= smartzone.name %></h2>

                <p><%= smartzone.address %>, <%= smartzone.town %></p>


                <div class="buttons">
                    <button>Book now</button>
                    <button>Book later</button>
                </div>
            </div>
        </article>
    <% }) %>
</nav>

<aside>
    <iframe src="https://www.google.com/maps/d/embed?mid=1gqmyNn7os6ZzXyRZrCr-Cp2dyEiJAw8&ehbc=2E312F" width="640" height="480"></iframe>
</aside>
<%- include('./partials/foot.ejs') %>
