<%- include("./partials/head.ejs") %>
<header>
    <img src="https://static.wixstatic.com/media/688653_888facb7769e4efaa91699e914b3c335~mv2.png/v1/fill/w_189,h_70,al_c,q_95,enc_auto/CTC%20-%20Logo%20Extended%20Dark.png" alt="Logo">
</header>
<section class="column">
    
    <h2>smartzones</h2>
    <ul class="smartzones">
        <% smartzones.smartzones.forEach(smartzone=> { %>
            <li>
                <div class="container-img">
                   <img src="<%= smartzone.image[0].url %>" alt="">
                </div>
                <div class="container-li">
                    <% if (smartzone.reservation==null) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path
                                d="M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z"
                                stroke="#524DD0" stroke-width="2" />
                            <path d="M6 11L9 14L14 7" stroke="#524DD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Now available
                        <% } else { %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path
                                d="M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z"
                                stroke="#524DD0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13 7L10 10M7 13L10 10M10 10L13 13M10 10L7 7" stroke="#524DD0" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        Occupied
                    <% } %>

                    <h3>SZ <%= smartzone.name %></h3>
                    <p><%= smartzone.address %>, <%= smartzone.town %></p>
                    <p><span>Price:</span> €1,00 / 15 min</p>
                    <% if (smartzone.reservation ==null) { %>
                           <button class="book-now" style="--reserved-bg: #f6f6fc; --reserved-c: #6a6b7b;">Book now</button>
                    <% } else { %>
                        <button class="book-now">Book now</button>
                    <% } %>
                    <button>Book later</button>
                </div>
            </li>

            <article class="detail">
                <img src="<%= smartzone.image.url %>" alt="">
                <header>
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"/></svg>
                <%= smartzone.address %>
                </header>
                <dl>
                <dt>Name</dt>
                <dd><%= smartzone.address %></dl>
                <dt>Description</dt>
                <dd><%= smartzone.description %></dl>
                <dt>Size</dt>
                <dd><%= smartzone.size %></dl>
                <dt>Utilization</dt>
                <dd><%= smartzone.utilization %></dl>
                </dl>
            </article>
        <% }) %>
    </ul>
    
</section>

<form action="/" method="post">
    <fieldset>
        <label for="smartzones">Select the smartzone</label>
        <select required="" id="smartzones" name="smartzoneId">
            
                <option value="clene4gw60aqg0bunwwpawr1p">Tijn</option>
            
                <option value="cleosl8mj3up30bw35w4tka59">Ahmed</option>
            
                <option value="cleosfgnk3yn80aus4i69hm15">Manon</option>
            
                <option value="cleosbvwq3t350bunud5mc2g0">Sarah</option>
            
                <option value="clepg22u74dlo0aus87j3rscd">Wicher</option>
            
        </select>

        <label for="author">Name</label>
        <input required="" id="author" name="author">

        <label for="dateStart">Begin date</label>
        <input required="" id="dateStart" type="date" name="dateStart" min="">

        <label for="dateEnd">End date</label>
        <input id="dateEnd" type="date" name="dateEnd">

        <label for="timeStart">Begin time</label>
        <input required="" type="time" id="timeStart" name="timeStart">

        <label for="timeEnd">End time</label>
        <input required="" type="time" id="timeEnd" name="timeEnd">
        <br></br>

        <input type="submit" value="submit">
        
        
    
    </fieldset>
</form>

<%- include("./nav.ejs") %>            

<%- include("./partials/foot.ejs") %>